@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-xs-12 mb-1 pt-3">
        <h3 class="content-header-title">Cadastro de Gêneros</h3>
    </div>
</div>
<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h5><i class="ionicons ion-grid"></i> Gênero</h5>
                                <hr/>
                            </div>
                            <div class="mb-3">
                                <div class="form-group col-sm-4">
                                    <label class="form-label">Nome <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control required" id="nome"
                                        placeholder="Nome">
                                    <div class="text-danger" style="display: none">
                                        Informe o Nome.
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions mt-4">
                                <hr class="bg-secondary"/>
                                <button type="button" class="btn btn-success mr-3" id="btnSalvar"
                                    data-bs-toggle="modal">
                                    <i class="fa fa-floppy-o"></i> Salvar
                                </button>
                                <button type="button" class="btn btn-light border" id="btnVoltar">
                                    <i class="fa fa-long-arrow-left"></i> Voltar
                                </button>
                            </div>

                            <!-- Modal Warning-->
                            <div id="warning" class="modal fade" style="display: none;">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="box-icon-warning">
                                                <i class="icon-alert"></i>
                                            </div>
                                            <h4 class="modal-title">Atenção!</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p id="MsgWarn">

                                            </p>
                                            <h3>Deseja salvar o registro ?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-confirm" id="btnSalvarModal"
                                                data-toggle="modal" data-target="#confirm"
                                                data-bs-dismiss="modal">Salvar</button>
                                            <button type="button" class="btn btn-info"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Confirm-->
                            <div id="confirm" class="modal fade" style="display: none;">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="box-icon-confirm">
                                                <i class="icon-android-done"></i>
                                            </div>
                                            <h4 class="modal-title">Deu certo !</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Registro incluído com sucesso.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnOkModal" type="button" class="btn btn-confirm"
                                                data-bs-dismiss="modal">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
<script src="~/js/Views/Genre/Create.js"></script>
}