@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-xs-12 mb-1 pt-3">
        <h3 class="content-header-title">Consulta de Gêneros</h3>
    </div>
</div>
<div class="content-body">
    <p></p>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9 mb-0">
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <button class="btn btn-light border dropdown-toggle" type="button" id="btnFiltro" data-bs-toggle="dropdown" aria-expanded="false">
                                        Filtro
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnFiltro">
                                        <li><a class="dropdown-item" href="#">Nome</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" name="search_param" value="all" id="search_param">
                                <input type="text" class="form-control" name="x" placeholder="Pesquisar por nome" id="search_value">
                                <span class="input-group-btn">
                                    <button class="btn btn-light border" type="button" id="btnSearch"><i class="ionicons ion-android-search"></i></button>
                                    <button class="btn btn-success ml-1" type="button" id="btnAdd"><i class="ionicons ion-android-add"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                     <div id="divLoading">

                    </div>
                    <div class="table-responsive" id="table">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Views/Genre/Index.js"></script>
}