@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row mt-3">
    <div class="content-header-left col-md-6 col-xs-12 mb-1">
        <h2 class="content-header-title">Consulta - Gêneros</h2>
    </div>
</div>
<div class="content-body">
    <p></p>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9 mb-0">
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Filtro</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Nome</a>
                                    </div>
                                </div>
                                <input type="hidden" name="search_param" value="all" id="search_param">
                                <input type="text" class="form-control" name="x" placeholder="Pesquisar por nome" id="search_value">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" id="btnSearch"><span
                                            class="icon-android-search"></span></button>
                                    <button class="btn btn-success ml-1" type="button" id="btnAdd"><span
                                            class="icon-android-add"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse in">
                     <div id="divLoading">

                    </div>
                    <div class="table-responsive" id="table">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Views/Genre/Index.js"></script>
}